body{
    margin: 0;
    paadding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: black;
    color: whitesmoke;

}
#input{
    font-family: sans-serif;
    text-align: center;
    font-size: 20px;
}
.ctr{
    text-align: center;
    margin: 2px;
    padding: px;
}



.imageContainer img{
    height:380px;
    width: 380px;
    margin: 0 auto;
}
.imageContainer{
    margin:10px;
    padding: 20px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}
#image{
    border: 1px solid black;
 
}

.prmpt{
    font-size: 20px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
input[type="input"]{
    padding: 10px;
    font-family: sans-serif;
    margin: 9px;
    width: 300px;
    font-family: sans-serif;
    font-size: 16px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

#btn{
    width: 400px;
    padding: 10px;
    margin: 3px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background: rgb(15, 215, 135);
    font-family: sans-serif;
    font-size: 20px;
    color: blue;
}
#btn:hover{
    color: black;
    background: rgb(22, 255, 5);
}